body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000;
}

.splish {
  width: 958px;
  height: 700px;
  margin: 0 auto;
  background-image: url('../images/buymeasoda-was-here.jpg');
  background-repeat: no-repeat;
  position: relative;
}

.splish a {
  position: absolute;
  top: 298px;
  left: 144px;
  width: 655px;
  height: 80px;
  text-indent: -999px;
  overflow: hidden;
}
